@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: $menubar-bg;

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $menubar-bg;
      font-weight: 500;
      letter-spacing: 1px;
      transition: $head-transition;

      &:hover,
      &.active {
        background-color: $primary;
        color: $menubar-bg;
        border-color: $primary;
        transform: translateY(-5px);
      }

      &.active {
        border-color: $text-color;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .root {
    :global(.container) > :global(.row) {
      height: 150px;
    }
    .menu {
      justify-content: center;
    }
  }
}

@media (max-width: 575px) {
  .root {
    :global(.container) > :global(.row) {
      height: 78px;
      padding-top: 2px;
    }
    .menu {
      display: flex;
      visibility: hidden;
      
      ul {
        width: 500px;
        flex-direction: column;
        flex-wrap: wrap;
        z-index: 1;  
        background: #fff;
      }
      a {
        width: 100%;
      }
    }
    .showMenu {
      visibility: visible;
    }
    .icon {
      margin-left: 10px;
      color: $primary;
      cursor: pointer;
    }
  }
}