@import "../../../styles/settings.scss";

.root {
  padding: 0;
  height: 1000px;

  .grayRectangle {
    background: $gray-6;
    width: 100%;
    height: 300px;

    .topBar {
      color: $white;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;

      h3 {
        text-transform: uppercase;
        margin: 0;
      }
      p {
        margin: 0;
      }
    }

    .productDescription {
      position: relative;
      height: 700px;
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      background: $white;
      border: 1px solid $gray-5;

      .btns {
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px;

        button {
          background: $white;
          height: 40px;
          width: 28px;
          height: 100%;
          border: 1px solid $darkGray;
          margin-left: 5px;

          &:hover {
            background: $darkOrange;

            .icon {
              color: white;
              border: 1px solid $darkOrange;
            }
          }

          .icon {
            font-weight: 800;
            color: $darkGray;
          }
        }
      }

      .image {
        position: relative;
        margin: 15px;
        width: 44%;
        z-index: 999;

        img {
          width: 100%;
          object-fit: contain;
        }

        .icon {
          position: absolute;
          background: $white;
          font-size: 40px;
          padding: 10px;
          color: $darkGray;
          border: 1px solid $darkGray;
          cursor: pointer;
          right: 0;
          top: 0;
        }
      }

      .description {
        margin-right: 15px;
        width: 54%;

        .header {
          border-bottom: 1px solid $gray-5;

          h3 {
            font-size: 20px;
            margin: 15px;
            font-weight: 800;
          }

          .rating {
            position: relative;
            margin: 15px;

            p {
              font-size: 11px;
              position: absolute;
              left: 90px;
              top: 6px;
            }
          }
        }
      }

      .price {
        padding: 15px 15px 0 15px;
        border-bottom: 1px solid $gray-5;

        p {
          display: inline-block;
          color: $gray-5;

          &:last-of-type {
            margin-left: 10px;
            padding: 5px;
            color: $white;
            background: $darkGray;
          }
        }
      }

      .buttons {
        padding: 15px;
        border-bottom: 1px solid $gray-5;

        .row1 {
          button {
            height: 40px;
            padding: 5px;
            background: $darkOrange;
            color: $white;
          }

          .button {
            margin-left: 5px;
            font-size: 40px;
            padding: 10px;
            color: $darkGray;
            border: 1px solid $darkGray;
            cursor: pointer;

            &:hover {
              color: $darkOrange;
              border: 1px solid $darkOrange;
            }
          }
        }
        .row2 {
          width: 150px;
          padding: 30px 0 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            display: inline-block;
            margin-top: 13px;
            margin-right: 10px;
          }
          input {
            height: 46px;
            width: 100px;
            color: $darkGray;
          }

          .button {
            top: 10px;
            margin-left: 5px;
            font-size: 20px;
            font-weight: 600;
            padding: 7px 15px;
            color: $darkGray;
            border: 1px solid $darkGray;
            cursor: pointer;

            &:hover {
              color: $darkOrange;
              border: 1px solid $darkOrange;
            }
          }
        }
      }

      .text {
        padding: 15px;
        border-bottom: 1px solid $gray-5;

        h4 {
          font-size: 15px;
        }
        p {
          font-size: 13px;
        }
      }

      .avabilability {
        padding: 15px 15px 0 15px;
        border-bottom: 1px solid $gray-5;

        p {
          font-size: 13px;

          span {
            margin-right: 20px;
            font-weight: 600;
          }
          &:last-of-type {
            margin-top: -15px;
          }
        }
      }
    }
  }
}
