@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;
}
@import "../../../styles/settings.scss";

.root {
  padding: 0;
  height: 2100px;

  .grayRectangle {
    background: $gray-6;
    width: 100%;
    height: 300px;

    .topBar {
      color: $white;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;

      h3 {
        text-transform: uppercase;
        margin: 0;
      }
      p {
        margin: 0;
      }
    }

    .productDescription {
      position: relative;
      height: 600px;
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      background: $white;
      border: 1px solid $gray-5;

      .btns {
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px;

        button {
          background: $white;
          height: 40px;
          width: 28px;
          height: 100%;
          border: 1px solid $darkGray;
          margin-left: 5px;

          &:hover {
            background: $darkOrange;

            .icon {
              color: white;
              border: 1px solid $darkOrange;
            }
          }

          .icon {
            font-weight: 800;
            color: $darkGray;
          }
        }
      }

      .galleryFeature {
        width: 40%;

        .slider {
          display: flex;
          justify-content: flex-start;
          padding: 5px;
          height: 95px;
          width: 41.5%;
          position: absolute;
          bottom: 0;
          overflow: hidden;

          .slide {
            height: 85px;
            margin: 0 5px;
            img {
              height: 85px;
              width: 70px;
              object-fit: cover;
            }

            .inactiveElement {
              height: 85px;
              opacity: 0.5;
              background: $white;
              left: 0;
              top: 0;
            }
            .activeElement {
              height: 85px;
              opacity: 1;
              left: 0;
              top: 0;
            }
          }

          button {
            z-index: 99;
            position: absolute;
            background: $white;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            border: 1px solid $darkGray;
            color: $darkGray;

            &:hover {
              background: $darkOrange;
              border: 1px solid $darkOrange;
            }

            .icon {
              color: $darkGray;
            }
            &:hover .icon {
              color: $white;
            }

            &:last-of-type {
              z-index: 100;
              bottom: 0;
              right: 0;
              left: 93%;
              height: 28px;
              width: 30px;
            }
          }
          button:disabled:hover {
            background: $darkOrange;
            border: 1px solid $darkOrange;
            opacity: 0.7;
          }
          button:disabled {
            opacity: 0.7;
          }
        }

        .gallery {
          padding: 0;
          display: flex;
          align-items: center;
          animation: fadeIn 3s;

          @keyframes fadeIn {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }

          a {
            .icon {
              background: $gray-2;
              padding: 5px;
              border: 1px solid $darkGray;
              font-size: 30px;
              color: $darkGray;

              &:hover {
                color: $darkOrange;
                border: 1px solid $darkOrange;
              }
            }
          }
        }

        .image {
          margin-left: 15px;
          padding: 15px;
          position: relative;
          width: 100%;
          height: 517px;
          animation: fadeIn 3s;

          @keyframes fadeIn {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .icon {
            margin: 20px;
            position: absolute;
            background: $white;
            font-size: 40px;
            padding: 10px;
            color: $darkGray;
            border: 1px solid $darkGray;
            cursor: pointer;
            right: 0;
            bottom: 0;
          }
        }
      }

      .description {
        position: absolute;
        height: 100%;
        width: 57%;
        right: 0;
      }
    }
  }
}
