@import "./settings.scss";

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body {
  font-family: "Poppins", sans-serif;
}

//RWD//
$max-tablet-width: 992px;
$min-tablet-width: 577px;
$max-mobile-width: 576px;

@mixin tablet {
  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $max-mobile-width) {
    @content;
  }
}

.swiper{
  position:relative;
  .rec.rec-dot {
    display: block;
      &:focus {
      box-shadow: 0 0 1px 3px $primary;
    }
      &:hover {
      box-shadow: 0 0 1px 3px $primary;
    }
    };
    .rec.rec-dot.rec-dot_active{
      background-color: $primary;
      box-shadow: 0 0 1px 3px $primary;
    };
    .rec.rec-arrow {
      display: none;
    }
    .rec.rec-pagination{
    position: absolute;
    top:-60px;
    right:5px;
  }
}

.carousel{
  .rec.rec-dot {
    display: block;
      &:focus {
      box-shadow: 0 0 1px 3px $primary;
    }
      &:hover {
      box-shadow: 0 0 1px 3px $primary;
    }
    };
    .rec.rec-dot.rec-dot_active{
      background-color: $primary;
      box-shadow: 0 0 1px 3px $primary;
    };
    .rec.rec-arrow {
      display: none;
    }
    .rec.rec-pagination {
    position: absolute;
    top: 15px;
    right:20px;
  }
}


.carouselPromo {
  .rec.rec-dot {
    display: block;
    background-color: $primary;
      &:focus {
      box-shadow: 0 0 1px 3px $primary;
    }
      &:hover {
      box-shadow: 0 0 1px 3px $primary;
    }
    };
    .rec.rec-dot.rec-dot_active{
      background-color: $primary;
      box-shadow: 0 0 1px 3px $primary;
    };
    .rec.rec-arrow {
      display: none;
    }
    .rec.rec-pagination {
    position: absolute;
    top: -10px;
    right: 30px;
  }
}