@import "./settings.scss";

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body {
  font-family: "Poppins", sans-serif;
}

//RWD//
$tablet-width: 768px;
$mobile-width: 767px;

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}
