@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.root {
    height: 450px;
    padding-top: 10px;
    .boxes {
        height: 400px;
        margin-top: 20px;
        position: relative;
        &:hover {
            .cartButton {
              visibility: visible;
            }
            .divSpan {
                visibility: visible;
            }
          }
        .divSpan {
            position: absolute;
            top: 180px;
            left: 60px;
            visibility: hidden;
            transition: $head-transition;
            span {
                display: inline-block;
                width: 60px;
                height: 60px;
                line-height: 20px;
                padding-top: 10px;
                margin: 0 5px;
                border-radius: 50%;
                background-color: $darkGray;
                opacity: 0.9;
                font-size: 12px;
                font-weight: bold;
                color: $feature-bg;
                text-align: center;
            }
        }
        .indoor {
            position: absolute;  
            width: 96%;
            top: 50%;  
            left: 50%;  
            transform: translate(-50%, -50%);
            background-color: $darkGray;
            padding: 10px 0;
            opacity: 0.9;
            h5, h4 {
                text-align: center;
                color: $feature-bg; 
                font-size: 26px;
                span {
                    font-weight: bold;
                }    
            }
        }
        .indoorButton {
            position: absolute;
            top: 235px;
            right: 350px;       
            background-color: $feature-bg;
            border: none;
        }
        .cartButton {
            position: absolute;
            top: 80px;
            left: 130px;
            visibility: hidden;
        }
        .outlines {
            padding-top: 10px;
            padding-left: 20px;
        }
        .line {
            margin: 10px;
            border-bottom: 1px solid $productbox-color;
            position: relative;
        
            &::before {
              content: "";
              position: absolute;
              bottom: -1px;
              left: 50%;
              width: 30px;
              border-bottom: 4px solid $primary;
              transform: translateX(-50%);
            }
          }
        .starsDiv {
            display: flex;
            justify-content: center;
        }
        .bottomTitle {
            color: $darkGray;
            text-align: center;
        }
        .dealsImg {
            height: 70%;
        }
        .head {
            background-color: $darkGray;
            color: $feature-bg;
            margin: 0 auto;
            width: 94%;
            h5 {
                margin: 0;
                padding: 2px 10px;
            }
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .button {
            width: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        .price {
            display: inline-block;
        } 
        .price_old {
        padding-left: 60px;
        display: inline-block;
     
         .price_old_value {
           font-size: 17px;
           color: $productbox-oldprice;
           position: relative;
           padding: 5px;
           text-decoration: line-through;
           text-decoration-color: $productbox-stars-color;
     
           &:after {
             content: "";
             width: 100%;
             height: 2px;
             display: block;
             align-items: center;
             position: absolute;
             top: 50%;
             left: 0;
             transform: translateY(-50%);
           }
        }
    }
  }
  .active{
    background-color: $darkGray;
    color: $feature-bg;
  }
}