@import '../../../styles/settings.scss';
@import "../../../styles/global.scss";

.root {
  justify-content: center;
  display: flex;
  padding-top: 64px;
  font-weight: 500;
  color: $footer-copyright-color;
  height: 520px;

  .blog {
      height: 400px;
      padding-top: 20px;
  }

  .heading {
    position: relative;
    width: 94%;
    border-bottom: 4px solid $furniture-border-color;

    h3 {
      color: $primary;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 38px;
      margin: 0;
      letter-spacing: 1px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 45px;
      border-bottom: 4px solid $primary;
    }
  }
  .box {
    background-color: $gray-6;
    height: 200px;
    margin-top: 10px;
    width: 260px;
    position: relative;
    margin: 12px;
    .innerBox {
        position: absolute;
        width: 240px;
        height: 150px;
        bottom: -112px;
        background-color: $white;
        padding: 2px 10px;
        .divButton {
            display: flex;
            justify-content: center;
        }
        .spanBox {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
        }
        p:first-of-type {
            font-weight: bold;
            text-align: left;
            &:hover {
                color: $primary;
            }
        }
        p {
            font-size: 10px;
        }
        span {
            font-size: 10px;
        }
        .icon {
            padding-right: 3px;
        }
    }
  }
}

